/* ============================================= */
/*              Color styles                      */
/* ============================================= */

$color-primary: #777;
$color-secondary: #58e1c1;
$color-default: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$brk-narrow: "(min-width:768px)";
